---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'; // <--- Импортируем
import WhyUsGrid from '../components/WhyUsGrid.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import GeneralPricing from '../components/GeneralPricing';
---

<Layout title="Строительство домов в Гродно и Минске под ключ | Marmol House">
	<main>
		<Hero /> <!-- <--- Вставляем -->
        <FeaturedProjects />
		<WhyUsGrid />
        <GeneralPricing client:visible />
        <!-- Остальной контент -->
	</main>
</Layout>